/* C'est le stylesheet. YA RIEN A VOIR CHER ESPION >:( */
html{
    background-color: rgb(255, 255, 255);
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table
}
.bouton{
    height: 2cm;
    width: 20cm;
    border-radius: 0.5cm;
}
.article{
    border-style: dashed;
    border-top-color: #16DB93;
    border-bottom-color: #A4036F;
    border-left-color: #EFEA5A;
    border-right-color: #FE5E41;
}
.boutonPtit{
    height: 1cm;
    width: 5cm;
    border-radius: 0.5cm;
}
.titre{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 10cm;
}
.coms{
    border-style: dashed;
    border-top-color: #16DB93;
    border-bottom-color: #A4036F;
    border-left-color: #EFEA5A;
    border-right-color: #FE5E41;
}
.int{
    size: 5cm;
}
tip{
    background-image: url("../tip.jpg");
    border-style: ridge;
    border-color: blue;
}
textarea{
    border: none;
    background-color:rgb(208, 220, 231);
}

.center{
    text-align: center;
    justify-content: center;
}

.adminfield{
    text-align: center;
    input::placeholder{
        color: grey;
        text-align: center;
        margin-top: 0%;
    }
}

.mainpage{
    width: 850px;
    height: 350px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin: auto;
    margin-top: 20px;
    .maincontent { /* Centre dans la div : j'ai galéré à trouver ca..; */
        position: relative;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.usericon {
    text-align: right;
}
.details {
    margin-left: 20px;
    margin-bottom: 40px;
    width: 300px;
    /* border: 2px solid;  */
    font-size: large;
    img#accountpicture{
        border: 1rem solid;
        width: 255;
        max-height: 200px;
    }
    img#accountpicture.loaded{
        transition: ease-in-out 3s;
        border-radius: 1000px;
    }
    
}

img.commentpict {
    width: 40px;
    height: 50px;
    border: 1px solid;
    border-radius: 30px;
    margin-right: 3px;
}
